
.form-container input{
    margin-right: 10px;
    background-color: #555;
    border-radius: 4px;
    height: 30px;
    width: 240px;
    border-style: none;
    color: white;
}

.form-container button{
    background-color: #FFDB58;
    height: 33px;
    border-radius: 6px;
    font-weight: 600;
    border-style: none;
}

.form-container button:hover{
    opacity: 0.8;
    cursor: pointer;
}