
.item-container{
    background-color: green;
}

.list-item{
    list-style: none;
    margin-top: 29px;
    font-weight: 600;
    font-size: 20px;
}

.list-item button{
    font-weight: 600;
    height: 30px;
    width: 100px;
    border-radius: 6px;
    border-style: none;
    margin-left: 3px;
}

.list-item button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.update-btn{
    background-color: #FFDB58;
}

.del-btn{
    background-color: red;
    color: white;
}

.confirm-update-btn{
    background-color: green;
    font-weight: 600;
}

.header-item{
    margin-bottom: 10px;
}

.input-update{
    background-color: #ddd;
    border-radius: 4px;
    height: 20px;
}

.checkbox-item{
    margin-right: 10px;
}

.close-btn{
    background-color: blue;
    color: white;
}